@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


:root{
  --bg-color:#6b6b6b;
  --letra-color: #000000;
  --boton-color: #ffffff;
  --glow-color: rgb(255, 255, 255);

}

*{
  margin: 0 ;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;

}

body{
  text-align: center;
  background-color: darkgrey;
  /*
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  */
}

