img{
    width: 100px;
}



li, a, button{
    
    font-family: 'sans-serif';
    font-weight: 500;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
    
}

.logo{
    cursor: pointer;
}

.Links{
    list-style-type: none;
}
.Links li{
    display: inline-block;
    padding: 0px 20px;
}
.Links li a {
    transition: all 0.3s ease 0s;
}

.Links li a:hover {
    color: #57c1ff;    
}


button{
    padding: 9px 25px;
    background-color: rgb(184, 184, 184);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #57c1ff;
}


.contNav{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.navbar{
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 130px;
    cursor: pointer;
    width: 50px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
}

.navbar ul li::before{
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before{
    width: 100%;

}





